VITE_API_URL=/api

# In development, Vite proxies /api to http://localhost:5007.
# For a deployed frontend, set this to the public API base URL.

# Set this to the token for your Cloudflare Tunnel.
CLOUDFLARE_TUNNEL_TOKEN= eyJhIjoiYTYwOGFlZmQ5M2Q3MDQ4YjI1NzQ3ZDY0ZGU5MGNmMDYiLCJ0IjoiZjViNmY3N2ItNjUxZS00N2VkLWFjMGMtZjc5ZjY1ODhkODhhIiwicyI6IlpHVTRNV1UzWkRZdFlUSXpNQzAwTlRGaExXRTROakF0WkdVeVltTmxOVE0yT1daaiJ9

